* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1px 1px 0px 1px;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2px;
  height: 80px;
}
.header img {
  height: 80px;
  width: 80px;
}
.hide-it {
  display: none;
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  font-size: x-large;
  color: black;
}
.header ul {
  list-style: none;
}

.header li {
  padding: 2px;
}

.header-button {
  display: block;
  background: #828282;
  padding: 6px 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 20px;
  min-width: 100px;
}
.header-button:hover {
  color: black;
}
@media (max-width: 700px) {
  .logo {
    font-size: large;
  }
}
@media (max-width: 770px) {
  .header-button {
    padding: 6px 20px;
  }
}
@media (max-width: 600px) {
  .header-button {
    padding: 6px 10px;
  }
}
@media (max-width: 530px) {
  .logo {
    font-size: medium;
  }
}
@media (max-width: 530px) {
  .logo {
    font-size: small;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
.main-menu ul {
  display: flex;
  list-style: none;
}

.main-menu-list-item {
  display: block;
  gap: 0px;
  width: 20%;
}

.main-menu-button {
  display: block;
  background: #828282;
  height: 40px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.main-menu-button:hover {
  color: black;
}
.main-menu-list-item:hover .dropdown-content {
  display: flex !important;
  flex-direction: column;
  text-align: center;
  width: 20%;
}
.dropdown-content {
  display: none;
  position: fixed;
  z-index: 1;
}
.dropdown-button {
  display: block;
  background: #b0b0b0;
  padding: 5px 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
.dropdown-button:hover {
  color: rgb(47, 47, 47);
}

#footer {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #b4aca8;
  font-size: 13px;
  background: #14100f;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
  gap: 5px;
  /* margin-top: -40px; */
}
